/*From here*/

.post {
    border-radius: 10px !important;
    margin-top: 5px;
}

.bold {
    font-weight: bold;
}

.img-md {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.img-sm {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.link-no-style {
    text-decoration: none;
    color: #4e4e4e;
}

.link-no-style:hover {
    text-decoration: none;
    color: #4e4e4e;
    cursor: pointer;
}

.post-action .p-panel {
    text-align: center !important;
    width: 100%;
    background: rgb(255, 255, 255) !important;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid #007bff;
}

.post-action .p-panel ul {
    padding: 0;
    list-style-type: none;
}

.post-action .p-panel ul li button {
    padding: 5px !important;
    border-radius: 50px;
    margin: 0;
    font-size: 14px;
}

.post-action .p-panel ul li button:hover {
    background-color: #d3d9df;
}

.post-action .p-panel ul li {
    float: left;
    margin: 0 5px;
    opacity: .7;
}

.post-action .p-panel-simple ul li {
    float: left;
    margin: 0 5px;
    opacity: .7;
}

.post-childs .post-content > span {
    color: #4e4e4e;
    margin-left: 10px;
}

.post-content span img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.icon-md {
    font-size: medium;
}

.font-small {
    font-size: small;
}

.blue {
    color: #007bff;
}

.post-response input {
    border-radius: 20px !important;
    padding: 2px 2px 2px 5px !important;
    font-size: 14px;

}

.post-response img {
}

.post-response .btn-custom {
    font-size: 12px !important;
    font-weight: 600 !important;
    background: #007bff !important;
    color: #f9f9f9 !important;
    padding: 0 10px !important;
    border-radius: 20px !important;
    margin: 0 2px !important;
    border: none !important;
}

.post-response .btn-sm {
    font-size: 10px !important;
    background: #007bff !important;
    color: #f9f9f9 !important;
    padding: 0 5px !important;
    border-radius: 20px !important;
    margin: 0 2px !important;
    border: none !important;
    height: 35px;
}

.post-childs {
    padding: 5px;
}

.post-childs ul {
    list-style-type: none;
}

.post-childs .comment_list > li {
    background: #f2f2f2;
    margin-bottom: 2px;
}

.post-childs .comment_list > li > .post {
    padding: 3px;
}

.background-light-grey {
    background-color: #f2f2f2;
}

.background-transparent {
    background: transparent;
}

.replies_list {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

.replies_list li {
    background-color: white;
    padding: 3px;
    margin-bottom: 4px;
}

